body {
    background-color: black;
}
#main {
    flex-direction: row;
    display: flex;
    justify-content: center;
}

img {
    display: flex;
    margin-left: 250px;
    width: auto;
    max-height: 100vh;
}

#card {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-evenly;
    
    margin-right: 250px;
}

#signup {
    border-style:solid;
    border: 5px;
    border-color: black;
    box-shadow: -1px 2px 10px 4px rgba(0,0,0,0.47);
    padding-left: 50px;
    padding-bottom: 30px;

}

#text {
    padding-left: 50px;
    font-size: 24px;
}

#create {
    padding-left: 50px;
}